{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Welcome!
{% endblock %}

{% block styles %}

{% endblock %} 

{% block content %}
<p>
You are about to participate in an experiment in the economics of decision-making. If you follow the instructions carefully, you can earn a considerable amount of money, which will be paid to you through Venmo at the end of the experiment. Please put away your cell phone and do not interact with other participants.
</p>
<p>
Plans for today's experiment:
<p>
1. Before we start the instructions and the game:
</p>
<ul>
<li>You will be asked to solve 10 questions.</li>
<li>You will have at most 75 seconds to complete each question.</li>
<li>The computer will randomly pick one of the 10 questions. You will receive $5 if you answered that question correctly and $0 otherwise. </li>
<li>The goal of each question is to choose one of the missing pictures that matches the big picture's pattern.</li>
</ul>
</p>
<p>
2. The experimenter will hand you the instructions for today's game and will explain everything you need to know about the game. 
</p>
<p>
3. We start playing the game.
</p>
<p>
Please click Next to begin answering the questions.
</p>
{% next_button %}
{% endblock %}