{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Welcome!
{% endblock %}

{% block styles %}

{% endblock %} 

{% block content %}
<p>
    您好！您即将参加一个经济决策实验。如果您仔细遵循指示，您可以赚取相当可观的金额，这笔钱将在实验结束时支付给您。请将手机放到一边，不要与其他参与者交流。
</p>
<p>
    在我们正式开始讲解今天的实验说明之前：
    <ul>
        <li>您需要回答10个问题。</li>
        <li>每一个问题有75秒的时间作答。</li>
        <li>电脑将在这10个问题里随机挑选一个问题出来，如果您对于那个随机挑选的问题回答正确，您将得到5元人民币；否则您将得到0元人民币。 </li>
        <li>每个问题的目标是在多个图片中选择一张与大图片的图案相匹配的图片。</li>
        </ul>
</p>
<p>
    当您回答完毕以上的10个问题后，实验员将仔细为您讲解今天的游戏规则。
</p>
<p>
    如果您准备好了，就请点击下面的"Next"，开始您对这10个问题的作答。
</p>
<!-- 
<p>
You are about to participate in an experiment in the economics of decision-making. If you follow the instructions carefully, you can earn a considerable amount of money, which will be paid to you at the end of the experiment. Please put away your cell phone and do not interact with other participants.
</p>
<p>
Plans for today's experiment:
<p>
1. Before we start the instructions and the game:
</p>
<ul>
<li>You will be asked to solve 10 questions.</li>
<li>You will have at most 75 seconds to complete each question.</li>
<li>The computer will randomly pick one of the 10 questions. You will receive $5 if you answered that question correctly and $0 otherwise. </li>
<li>The goal of each question is to choose one of the missing pictures that matches the big picture's pattern.</li>
</ul>
</p>
<p>
2. The experimenter will hand you the instructions for today's game and will explain everything you need to know about the game. 
</p>
<p>
3. We start playing the game.
</p>
<p>
Please click Next to begin answering the questions.
</p>
-->
{% next_button %}
{% endblock %}